<div class="jumbotron">
  <h2>NO!</h2>
</div>

<center>
<h1>You have landed onto the wrong page. Click <a href="/">here</a> to take you to the start.</h1>
</center>

<div class="row marketing">
  <div class="col-lg-6">
  </div>
</div>
